@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: white;
}

.mb-2 {
    margin-bottom: 20px;
}

body.no-scroll {
    overflow-y: hidden;
}

/* nav */
#top-nav {
    background: #1f1f1f;
    display: flex;
    padding: 20px;
    font-family: "Space Grotesk", sans-serif;
}

#menu {
    width: 75%;
    padding-right: 30px;
}

#menu-button {
    float: right;
}

#top-nav {
    text-align: right;
}

#top-nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
}

#top-nav #logo {
    width: 25%;
    font-weight: 600;
    font-size: 28px;
    margin-right: 30px;
    text-align: left;
}

#button-container {
    width: 50%;
}

/* buttons */
button {
    margin-top: 6px;
    background-color: rgba(146, 71, 216, 0.75);
    color: white;
    padding: 10px;
    border-radius: 9px;
    border: 2px solid rgba(146, 71, 216, 0.75);
    transition: all 0.3s ease;
}

button:hover {
    background-color: white;
    color: rgba(146, 71, 216, 0.75);
    transition: all 0.3s ease;
    cursor: pointer;
}

#hamburger-icon {
    color: white;
    font-size: 33px;
    position: relative;
    top: 2px;
}

#mobile-menu {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 25%;
}

#mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

#close-nav-menu {
    z-index: 2;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 53px;
    color: white;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu-container {
    width: 100%;
}

#top-nav a:hover {
    color: #8797e5;
}

#menu a:hover {
    color: white;
}


#landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/pokedex-bg.jpg');
    background-size: cover;
    background-position: center;

    img {
        width: 30%;
    }
}


#search-section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;

    h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 2em;
    }

    #search-type-container {
        font-family: "Space Grotesk", sans-serif;
        margin: 20px 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        #type-container, #search-container {
            display: flex;
            align-items: center;

            label {
                font-size: 1.7em;
                margin-right: 7px;
            }
    
            select, input {
                font-family: "Space Grotesk", sans-serif;
                padding: 10px;
                border-radius: 9px;
            }
        }
    }
}


/* overall styling of the card
    change sizes inside of the media queries for each device size */
#pokemon-display-grid {
    display: grid;
    gap: 30px;
    padding: 40px;

    .pokemon-card {
        /* card itself */
        display: flex;
        flex-direction: column;
        background: rgb(94, 164, 129);
        background: linear-gradient(360deg, rgba(94, 164, 129, 1) 0%, rgba(55, 51, 57, 1) 100%);
        border-radius: 9px;
        transition: all 0.3s ease;

        /* image inside of card */
        img {
            width: 100%;
            object-fit: cover;
        }

        .pokemon-details {
            padding: 20px;
            color: white;
            font-family: "Space Grotesk", sans-serif;

            button {
                background-color: #1f1f1f;
                color: white;
                font-weight: bold;
                font-size: 1.1em;
                font-family: "Space Grotesk", sans-serif;
                padding: 15px;
                border-radius: 9px;
                border: 2px solid #1f1f1f;
                margin-top: 9px;
                transition: all 0.3s ease;
            }

            button:hover {
                transition: all 0.3s ease;
                cursor: pointer;
                background-color: rgb(94, 164, 129);
                border: 2px solid #1f1f1f;
                color: #1f1f1f;
            }
        }
    }

    .pokemon-card:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 8px 9px 10px -3px rgba(85, 145, 115, 0.75);
        -webkit-box-shadow: 8px 9px 10px -3px rgba(85, 145, 115, 0.75);
        -moz-box-shadow: 8px 9px 10px -3px rgba(85, 145, 115, 0.75);
    }
}

@media screen and (min-width: 400px) {
    /* have changed the sizes of the img and orientation of the cards inside each media query */

    #landing-page img {
        width: 70%;
    }

    #search-type-container {
        flex-direction: column;
    }

    #pokemon-display-grid {
        grid-template-columns: 1fr;

        .pokemon-card {
            flex-direction: row;
            align-items: center;

            img {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    /* have changed the sizes of the img and orientation of the cards inside each media query */

    #pokemon-display-grid {
        grid-template-columns: repeat(2, 1fr);

        .pokemon-card {
            flex-direction: column;
            align-items: baseline;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    /* have changed the sizes of the img and orientation of the cards inside each media query */

    h1 {
        font-size: 60px;
    }

    #menu {
        display: block;
        width: 75%;
    }

    #menu li {
        display: inline-block;
    }

    #menu-container {
        display: none;
    }

    #search-type-container {
        flex-direction: row;
    }

    #pokemon-display-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    /* have changed the sizes of the img and orientation of the cards inside each media query */

    #pokemon-display-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}